<div class="container">
    <h1>Quotes</h1>
    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes; let i = index'>
                <div id="quote">
                    <div>
                        <div appHighlight *ngIf="highestScore()===quote.score && quote.score>0">
                            <h2>{{i+1}}. {{quote.quote}}</h2>
                            <h4>~{{quote.author}}</h4>
                        </div>
                        <div *ngIf="highestScore()!==quote.score || quote.score==0">
                            <h2>{{i+1}}. {{quote.quote}}</h2>
                            <h4>~{{quote.author}}</h4>
                        </div>
                    </div>
                    <button (click)='toggleDetails(i)'>Show Details</button>
                    <app-quote-detail *ngIf='quote.showDetails' [quote]='quote' (deleteQuote)='quoteDelete($event,i)'></app-quote-detail>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>