<div class="container">
    <h1>Quotes</h1>
    <div class="row-fluid">
        <div class="col">
            <div *ngFor='let quote of quotes; let i = index'>
                <div>
                    <h2>{{i+1}}. {{quote.quote}}</h2>
                    <h4>~{{quote.author}}</h4>
                    <button (click)='toggleDetails(i)'>Show Details</button>
                    <app-quote-detail *ngIf='quote.showDetails' [quote]='quote' [quotes]='quotes' (deleteQuote)='quoteDelete($event,i)'></app-quote-detail>
                </div>

            </div>
        </div>
    </div>