.row-element-1 {
    padding-right: 10%;
}

.row-element-2 {
    padding-right: 5%;
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-clip: border-box;
    border: 2px solid;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 3px solid rgba ( 0, 0, 0, 1);
    padding: 20px;
    background-color: #353b3c;
}

hr {
    background-color: #eef0f2;
}

@font-face {
    font-family: 'dosis-bold';
    src: url("../../assets/Dosis-Bold.ttf") format("truetype");
}

#highlighted {
    font-family: 'dosis-bold';
}

button {
    font-size: 24px;
}