<br>
<p>Posted by {{quote.user}} on {{quote.date|date}}.<br>{{quote.date|dateCount}} days ago.</p>
<div class=" btn-group " role="group " aria-label="Basic example ">
    <button type="button" class="btn btn-outline-success" (click)='upvote()'>{{quote.upvotes}} Upvote</button>
    <button type="button" class="btn btn-outline-light">{{quote.score}}</button>
    <button type="bitton" class="btn btn-outline-danger" (click)='downvote()'>{{quote.downvotes}} Downvote</button>
</div>
<div>
    <br>
    <button class="btn btn-secondary" (click)='quoteDelete(true)'>Delete Quote</button>
</div>