    .form-control {
        background-color: #353b3c;
        color: #EEF0F2;
        border-color: #EEF0F2;
        border-radius: 20px;
    }
    
    hr {
        background-color: #eef0f2;
    }
    
    #form {
        position: fixed;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }
    
    @media only screen and (max-width: 768px) {
        #form {
            position: absolute;
            width: 100%;
        }
    }
    
    p,
    label {
        font-size: 24px;
    }